@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 30px 20px;
  font-family: 'Inter', sans-serif;
}

.intro {
  width: 800px;
}

.content {
  margin-left: 20px;
  color: #551A8B;
}

.content h1 a {
  color: #0000EE
}
